<% @todolists.newest_first.each do |list| %>
<div id="lists">
	<p id="list-title"> <%= list.title %> </p>
	<p id="list-description"> <%= list.description %> </p>
	<button id="list-delete" type="submit" class="btn btn-primary pull-right" >
		<%= link_to "Delete", list , method: :delete, data: {confirm: "Are you sure you want to delete this list?"} %>
	</button>
	<p id="list-delete"></p>
</div>
<% end %>