<%= render 'new_todolist' %>

<% @todolists.newest_first.each do |list| %>
<div id="lists">
	<p id="list-title"> <%= list.title %> </p>
	<p id="list-description"> <%= list.description %> </p>
</div>
<% end %>